@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap");

.titleCategory p {
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 155px;
  font-weight: 800;

}

.categoryClothes, .categoryName, .categoryShoes {
  display: flex;
  flex-direction: column;
}

.categoryClothes img {
  width: 300px;
  height: auto;
  /* margin: 30px; */
}

.categoryName {
  margin: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
