@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

.productsTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.productsTitle p {
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 155px;
    font-weight: 800;

}
.searchBar{
    display:flex;
    width: 200x;
    height: 25px;
    margin-right: 155px;
    margin-top: 40px;
    border: 1px solid #FF9F1C;
    border-radius: 10px;
}

.productCard{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width: 370px;
    height: auto;

}

.productImg{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 361px;
    height: auto;
    margin-top: 20px;
}

.productsElementName{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    font-weight:400;
}

.productsElementPrice{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
}

.productsElementContainer{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;

}