.App {
  text-align: center;
}

.header{
  
  background-image: url(../src/Assets/logo/headerImage.png);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

}

.logoImage{
  display: flex;
  align-content: center;
  width: 30%;

}

.iconShoppingCar{
  display: flex;
  width: 100px;

}
