.App {
  text-align: center;
}

.header{

  background-image: url(../src/Assets/logo/headerImage.png);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 4px;

}

.carElements{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1px;

}

.logoImage{
  display: flex;
  align-content: center;
  width: 15%;

}

.iconShoppingCar{
  display: flex;
  width: 100px;

}
.miCarritoText{
  color: white;
  font-size: 25px;
  font-weight: bold; 

}